@charset "utf-8";

.header-container{
    padding: 60px 32px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu-lista{
    display: flex;
    gap: 20px; 
}

.menu-lista a{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px 8px;
}

.menu-lista a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--cp);
    transition: .2s;
}

.menu-lista a:hover::after{
    width: 100%;
}

#check{
    display: none;
}

.check-btn{
    position: absolute;
    right: 0;
    display: none;
    cursor: pointer;
}

.check-btn img{
    width: 32px;
}

@media(max-width: 800px){
    .header-container{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .menu img{
        width: auto;
        height: 30px;
    }
}

@media(max-width: 600px){
    .header-container{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .check-btn{
        display: block;
    }

    .menu-lista{
        flex-direction: column;
        position: fixed;
        top: 75px;
        right: -200px;
        background-color: var(--cp);
        text-align: center;
        padding: 8px 16px;
        transition: .5s;
        border-radius: 10px;
    }

    .menu-lista a{
        color: var(--branco);
        display: block;
    }

    .menu-lista a::after{
        display: none;
    }

    #check:checked ~ .menu-lista{
        right: 10px;
    }/* Para esse estilo ser aceito, os elementos html devem estar no mesmo nível de indentação */
}